.courseDetailComments{
    display: block;
    width: 100%;
    margin-top: 2rem;
}
.courseDetail_title{
    display: block;
    font-family: var(--font-black);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-black);
}

.courseDetailComments_comment{
    display: flex;
    width: 100%;
    margin-block: 1.5rem  ;
    padding: 1rem;
    box-shadow: 0 0 10px 8px #efefef;
    border-radius: 0.5rem;
}
.courseDetailComments_img{
    width: 120px;
    border-radius: 50%;
}
.courseDetailComments_comment_info{
    display: block;
    margin-right: 2rem;
}
.courseDetailComments_userName{
    font-family: var(--font-black);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-black);
}
.courseDetailComments_commentText{
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text);
}