@import url(./reset.module.css);

/* Font Family */

@font-face {
  font-family: iranMedium;
  src: url(/font/IRANSansWeb_Medium.woff);
}

@font-face {
  font-family: iranBold;
  src: url(/font/IRANSansWeb_Bold.ttf);
}
@font-face {
  font-family: iranBlack;
  src: url(/font/IRANSansWeb_Black.ttf);
}


/* root variable */

:root{
  --font-medium: iranMedium;
  --font-bold: iranBold;
  --font-black: iranBlack;

  --color-white: #FFFFFF;
  --color-bgColor: #F4F5F7;
  --color-text: #787F85;
  --color-text-2:#333545;
  --color-black: #3F4951;
  --color-green-1: #03B97C;
  --color-green-2: #10BC83;
  --color-green-3: #D9F1EA;
  --color-yellow: #FF9800;
  --color-blue-1: #E3F6FE;
  --color-blue-2: #57A9F5;
  --color-blueNavy: #1D2636;
  --color-purple-1: #F8E7FB;
  --color-purple-2: #D15FD6;
  --color-pink : #F33066;
}



body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-bgColor);
  color: var(--color-black);
  font-family: var(--font-medium);
  direction: rtl;
}



/* """""""" Start style button green """"""""" */
.buttonGreen{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  width: 120px;
  height: 2.5rem;
  background-color: var(--color-green-3);
  border-radius: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-green-1);
  transition: all 0.3s ease-out;
}
.buttonGreen:hover{
  background-color: var(--color-green-1);
  color: var(--color-white);
}
/* """""""" End style button green """"""""" */



.form{
  display: block;
  margin: 1rem 0 2rem 0  ;
  padding: 1rem;
}
.form_title{
  display: block;
  text-align: center;
  margin: 2rem 0;
  font-family: var(--font-black);
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text);
}
.formBox{
  display: block;
  margin: 1rem 0;
}
.formBox_label{
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(---color-black);
}
.formBox_input{
  display: block;
  width: 100%;
  height: 3rem;
  border: 1px solid #ecec;
  border-radius: 0.4rem;
  padding-right: 0.4rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-text);
}

.formBox_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--color-green-1);
  color: var(--color-white);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.formBox_btn:hover{
  background-color: var(--color-green-3);
  color: var(--color-black);
}

.formBox_links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}
.formBox_links{
  text-decoration: none;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-text);
  transition:all 0.3s ease-out;
}
.formBox_links:hover{
  color: var(--color-green-1);
}
