@import url(./reset.module.css);

/* Font Family */

@font-face {
  font-family: iranMedium;
  src: url(/font/IRANSansWeb_Medium.woff);
}

@font-face {
  font-family: iranBold;
  src: url(/font/IRANSansWeb_Bold.ttf);
}
@font-face {
  font-family: iranBlack;
  src: url(/font/IRANSansWeb_Black.ttf);
}


/* root variable */

:root{
  --font-medium: iranMedium;
  --font-bold: iranBold;
  --font-black: iranBlack;

  --color-white: #FFFFFF;
  --color-bgColor: #F4F5F7;
  --color-text: #787F85;
  --color-black: #3F4951;
  --color-green-1: #03B97C;
  --color-green-2: #10BC83;
  --color-green-3: #D9F1EA;
  --color-yellow: #FF9800;
  --color-blue-1: #E3F6FE;
  --color-blue-2: #57A9F5;
  --color-purple-1: #F8E7FB;
  --color-purple-2: #D15FD6;
  --color-pink : #F33066;
}



body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-bgColor);
  font-family: var(--font-medium);
  direction: rtl;
}